.App {
  text-align: center;
}

body {
  background-color: #101723;
  overflow-x: hidden !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html{
  height: 100%;
  width: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bodyimage {
  width: 100%;
  height: 100%;
  /* display: block; */
}

.webbody {
  background-color: #101723;
}

.firstpartcontents {
  position: absolute;
  color: white;
  /* Text color */
  font-size: 24px;
  /* Adjust font size as needed */
  /* text-align: center; */
  /* Center the text */
  padding: 20px;
  /* Optional: padding around the text */
  top: 100px;
  font-weight: 700;
  font-size: 72px;
  left: 150px;
  display: flex;
  flex-direction: row;
  text-align: start;
  color: #d9e1eb;
}
.secondpart{
  position: relative;
  color: white;
  /* Text color */
  font-size: 24px;
  /* Adjust font size as needed */
  /* text-align: center; */
  /* Center the text */
  padding: 20px;
  /* Optional: padding around the text */
  top: 5px;
  font-weight: 700;
  font-size: 72px;
  /* left: 150px; */
  display: flex;
  flex-direction: row;
  background-color: #101723;
  text-align: start;
  justify-content: space-evenly;
  color: #d9e1eb;
  flex-wrap: wrap;
  gap: 50px;
}
.subtext {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  font-size: 32px;
  font-weight: 500;
}

.firstpart {
  width: 100%;
  height: 100%;
  background-color: #101723;
  /* z-index: 999; */
  color: white;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.heroimage {
  height: 469px;
  padding-left: 5px;
}
.heroimagemobo{
  position: relative;
  top: 50px;
  height: 800px;
  /* width: 300px; */
}
.texts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 50%; */
}

.headers {
  width: 800px;
}

.downloadbtn {
  position: relative;
  top: 100px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  /* background-color: red; */
  gap: 20px;
}

.playstorebtn {
  display: flex;
  background-color: #101723;
  border: 0.5px solid white;
  justify-content: center;
  height: 68px;
  width: 200px;
  border-radius: 10px;
  align-items: center;
}

.playstoreimg {
  height: 48px;
  justify-content: center;
  width: 148px;
}

.signupbtn {
  position: relative;
  top: 20px;
  background-color: #ECC94B;
  width: auto;
  height: 60px;
  border-radius: 10px;
  color: #4f3502;
  font-size: 18px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.externalbtns {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* First Part Resposiveness */
.detailsimg{
  height: 223px;
  width: 443px;
  position: relative;
  top: 40px;
}
.firstinfo{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 40px;
  gap: 30px;
  height: auto;
  background-color: #212C3A;
  border-radius: 20px;
}
@media screen and (min-width:741px) {
  .downloadbtnmobo {
    display: none;
  }
  
}
@media screen and (max-width:740px) {
  .heroimage {
    display: flex;
    position: relative;
    top: 200px;
    /* left: 8vw; */
    justify-content: start;
  }
  .subtext {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .downloadbtn{
    display: none;
    /* position: relative;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 100vw; */
  }
  .downloadbtnmobo{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100vw;
    gap: 20px;
    left:40vw;
    /* transform: translate(-50%, -50%); */
  }
  .externalbtnsmobo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 100px;
    justify-content: center;
  }
  .signupbtn, .playstorebtn{
    width: 100vw;
  }
  .secondpart{
    position: relative;
    top:1350px;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* width: 500vw; */
    left: 80%;
    /* background-color: red; */
  }
}
@media screen and (max-width:740px) {
  .texts {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    /* background-color: red; */
  }

}
@media screen and (max-width:740px) {
  .bodyimage {
    display: none;
    
  }

}
@media screen and (max-width:740px) {
  .heroimagecont{
    position: relative;
    /* background-color: red; */
    /* width: 100vw; */
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
  }

}