.App {
  text-align: center;
}
body{
  background-color: #101723;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bodyimage {
  width: 100%;
  height: 100%;
  /* display: block; */
}
.webbody{
  background-color: #101723;
}
.firstpartcontents {
  position: absolute;
  color: white; /* Text color */
  font-size: 24px; /* Adjust font size as needed */
  text-align: center; /* Center the text */
  padding: 20px; /* Optional: padding around the text */
  top: 180px;
  font-weight: 700;
  font-size: 72px;
  left: 150px;
  display: flex;
  flex-direction: row;
  text-align: start;
  color:#d9e1eb;
}
.subtext{
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  font-size: 32px;
  font-weight: 500;
}
.firstpart{
  width: 100%;
  height: 100%;
  background-color: #101723;
  /* z-index: 999; */
  color: white;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.heroimage{
  height: 469px;
  padding-left: 5px;
}
.texts{
  display: flex;
  flex-direction: row;
  /* gap: 50%; */
}
.headers{
  width: 800px;
}
.downloadbtn{
  position: relative;
  top: 100px;
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 20px;
}
.playstorebtn{
  display: flex;
  background-color: #101723;
  border: 0.5px solid white;
  justify-content: center;
  height: 68px;
  width: 200px;
  border-radius: 10px;
  align-items: center;
}
.playstoreimg{
  height: 48px;
  justify-content: center;
  width: 148px;
}
.signupbtn{
  position: relative;
  top: 20px;
  background-color: #ECC94B;
  width: auto;
  height: 60px;
  border-radius: 10px;
  color: #4f3502;
  font-size: 18px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
}
.externalbtns{
  display: flex;
  flex-direction: row;
  gap: 20px;
}